*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {

    color:white;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 1em;
}

input{
    margin-bottom: 1em;
    padding: 5px;
}

input[type="text"], input[type="password"], input[type="password"], input[type="email"]{
    width: 300px;
    margin: 3em auto;
    display: block;
}

button[type='submit']{
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 2em;
    transition : background 0.3s
}
a:visited{
    color: black
}

a{
    background-color: white;
    padding: 5px;
    margin-top: 1em;
    text-decoration: none;
    color: black ;
    transition : background 0.3s
}

a:hover, button[type='submit']:hover{
    background-color:#e83768 ;
}

.retour-accueil{
    margin-left: 1em;
  
}

.section-inscription, .section-login{
    background-image: url("../image/inscription2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.section-login{
    background-image: url("../image/inscription.jpg");
}
.inscription, .form-login{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    color: white;
}

@media only screen and (min-width:1200px){
    input[type="text"], input[type="password"], input[type="email"]{
        width: 1000px;
    }

    .inscription{
        background-position-y: -40px;
    }
}