*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.avatar{
    border-radius: 7px;
    display: block;
    width: 80%;
    margin: 0 auto;
}
.container-allReputations{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
    width: 80%;
}

.container-reputation{
    border : 1px solid black;
    border-radius: 7px;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 1px 4px 15px -5px rgba(0,0,0,0.76); 
    box-shadow: 1px 4px 15px -5px rgba(0,0,0,0.76);
    transition: background 0.3s ease;
}

.container-reputation:hover{
   background-color: rgb(246, 230, 230);
}

.container-infos{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.container-info{
    padding: 10px;
}
.categories{
    display: flex;
    margin-bottom: 2em;
}

.categories h2{
    width: 180px;
}

.categories button{
    padding: 0 10px;
    background-color : rgb(92, 14, 14);
    color : white;
}
h3{
    padding-bottom: 100px;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}

.entour{
    display: inline-block;
    margin-bottom: 10px;
}
.vert{
    color:green
}

.bold{
    font-weight: bold;
}
.nom-zone{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.legion{
    background-image: url('../image/legion.jpeg');
}

.bfa{
    background-image: url('../image/bfa.jpg');
}

.shadowland{
    background-image: url('../image/shadowland.jpg');
}

.wod{
    background-image: url('../image/wod.jpg');
}

.pandaria{
    background-image: url('../image/pandarie.jpg');
}

.guilde{
    background-image: url('../image/guilde.jpg');
}

.cataclysm{
    background-image: url('../image/cataclysm.jpg');
}

.lichking{
    background-image: url('../image/lichking.jpeg');
}

.burning{
    background-image: url('../image/burningcrusade.jpg');
}

.classic{
    background-image: url('../image/classic.jpg');
}


.header-recherches{
    background-color: rgb(34, 33, 33);
    background-image: url("../image/wow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    -webkit-box-shadow: 1px 4px 15px -5px rgba(0,0,0,0.76); 
    box-shadow: 1px 4px 15px -5px rgba(0,0,0,0.76);
    font-size: 1.2em;
    color: white;
}

header p {
    text-align: end;
    padding: 10px
}

.lien-header{
    color:white;
    text-decoration: none;
    transition:  color 0.2s linear;
   
}

.border-lien{
    border: 1px solid white;
    border-radius : 7px;
    padding : 8px;
    color: white;
    transition: 0.3s;
    text-decoration: none;
}

.border-lien:hover{
    color: yellow;
    border-color : yellow
}

.lien-header:hover{
    color:yellow;
}

.barreRecherche{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}
.accueil h1{
text-align: center;
margin-bottom: 1em;
}
.accueil p {
  text-align: center;
  padding: 0 20px;
}
form, input, .rechercher{
    display: block;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
  
}
.body1{
    background-color: rgb(240, 246, 246);
}
.main1{
    margin-top: 2em;
}

.info-personnage-titre{
    text-align: center;
}

.gauche{
    text-align: end;
    margin-top: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.supprimer{
    background-color: rgb(165, 7, 7);
    border-radius: 7px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.avatar-vue{
    display: block;
    margin: 0 auto 2em auto;
    border-radius: 7px;
}

.perso-vue-reputations{
  
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
    width: 80%;
}
.titre-reputation-vue h2, .commentaire h2{
    text-align: center;
    margin-bottom: 2em;

    
}



.titre-reputation-vue{
    background-color: burlywood;
    padding: 10px;
}

.commentaire{
    background-image: url("../image/post-it.png");
    background-size: cover;
    background-repeat: no-repeat;
  
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    
    height: 465px;
    overflow-y: auto;
    font-size: 2em;
    font-family: 'Jomhuria', cursive;
    
    margin-left: 10px;
    margin-right: 10px;
}
.commentaire h2{
    margin-bottom: 0em;
}

.commentaire a {
    color :rgb(92, 14, 14);
    font-size: 0.8em ;
    font-style: italic;
}
.perso-vue-reputation h3{
    color:black;
    padding: 0
    
}


@media only screen and (min-width:1200px){
    .lichking{
        background-position-y: -1em;
    }
    .avatar{
        width: 300px;
    }
   
    .categories{
        margin: 4em 0 2em 150px;
    }
    
    .container-allReputations{
        grid-template-columns: repeat(3, 1fr);
    }

    .perso-vue-reputations{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0px;
        margin : 0;
        width: 80%;
    }

    .perso-vue-reputation{
        width: 250px;
    }

    /* .perso-vue-reputation{
        border-right: 1px black solid;
    } */
    .vue-personnage{
        display: flex;
        width: 95%;
        margin: 0 auto 2em auto;
    }

    .commentaire {
        width:  562.5px;
        margin-right: 200px;
        background-color: rgb(240, 214, 68);
        margin-left: 1em ;
        
       
    }
    .container-infos{
        flex-direction: row;
        align-items: center;
    }
    .container-info{
        width: 50%;
    }

    .barreRecherche{
        width: 65%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
       
        
        
    }

    input{
        width: 300px;
        margin: 0;
    }

    .rechercher{
        width: 100px;
        margin: 0;
    }

}