{% extends 'accueil/recherche.html.twig' %}
{% block body %}
<div class="accueil">
<h1>Bienvenue !</h1>

<p>Rentrez le nom de votre personnage, son royaume ainsi que la localisation du serveur</p>

</div>

{% endblock %}

